Package: me.luki.kaia
Name: Kaia
Version: 0.9.2
Architecture: iphoneos-arm
Description: Lock your hidden album with TouchID or password
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate
Depiction: https://luki120.github.io/depictions/web/?p=me.luki.kaia
SileoDepiction: https://luki120.github.io/depictions/native/me.luki.kaia/depiction.json
