Package: me.luki.zaire
Name: Zaire
Version: 0.9.0
Architecture: iphoneos-arm
Description: Displays the number of installed apps in the storage page
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate
