<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lead Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcTwitterCell</string>
			<key>accountLabel</key>
			<string>Luki120</string>
			<key>account</key>
			<string>Lukii120</string>
			<key>URL</key>
			<string>https://avatars.githubusercontent.com/u/74214115?v=4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Wizard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcTwitterCell</string>
			<key>accountLabel</key>
			<string>RuntimeOverflow</string>
			<key>account</key>
			<string>RuntimeOverflow</string>
			<key>URL</key>
			<string>https://avatars.githubusercontent.com/u/38386956?v=4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Help With Specifiers</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcTwitterCell</string>
			<key>accountLabel</key>
			<string>Miguelaka</string>
			<key>account</key>
			<string>Miguelaka95</string>
			<key>URL</key>
			<string>https://pbs.twimg.com/profile_images/1352713271435014148/_N-NLFJv_400x400.jpg</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pretty Changelog View</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcTwitterCell</string>
			<key>accountLabel</key>
			<string>ETHN</string>
			<key>account</key>
			<string>EthanWhited</string>
			<key>URL</key>
			<string>https://avatars.githubusercontent.com/u/41249541?v=4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pretty Icon And Banner</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcTwitterCell</string>
			<key>accountLabel</key>
			<string>Ben</string>
			<key>account</key>
			<string>Ben216k</string>
			<key>URL</key>
			<string>https://avatars.githubusercontent.com/u/91443760?v=4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pretty Twitter Cells</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcTwitterCell</string>
			<key>accountLabel</key>
			<string>MrGcGamer</string>
			<key>account</key>
			<string>MrGcGamer</string>
			<key>URL</key>
			<string>https://avatars.githubusercontent.com/u/32813275?v=4</string>
		</dict>
	</array>
	<key>title</key>
	<string>Arizona</string>
</dict>
</plist>
