<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Yes</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<false />
				<key>defaults</key>
				<string>me.luki.stealthccprefs</string>
				<key>key</key>
				<string>magicValue</string>
				<key>label</key>
				<string>Magic Value</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSliderCell</string>
				<key>defaults</key>
				<string>me.luki.stealthccprefs</string>
				<key>key</key>
				<string>alpha</string>
				<key>label</key>
				<string>Alpha</string>
				<key>min</key>
				<real>0</real>
				<key>max</key>
				<real>1</real>
				<key>default</key>
				<real>0.85</real>
				<key>showValue</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>cellClass</key>
				<string>STLCCTintCell</string>
				<key>action</key>
				<string>launchSourceCode</string>
				<key>label</key>
				<string>Source Code 🔥</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerAlignment</key>
				<real>1</real>
				<key>footerText</key>
				<string>Handcrafted icon by @CycloneTM_</string>
				<key>isStaticText</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerAlignment</key>
				<real>1</real>
				<key>footerText</key>
				<string>made by Luki for Stealth with ❤️</string>
				<key>isStaticText</key>
				<true/>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerAlignment</key>
				<real>1</real>
				<key>footerText</key>
				<string>© 2021-2024 Luki120</string>
				<key>isStaticText</key>
				<true/>
			</dict>
		</array>
		<key>title</key>
		<string>StealthCC</string>
	</dict>
</plist>
