Package: me.luki.arizona
Name: Arizona
Version: 0.9.2
Architecture: iphoneos-arm
Description: Move the stock clock, date and lock glyph on the fly
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, com.mrgcgamer.libgcuniversal
Icon: https://raw.githubusercontent.com/Luki120/Arizona/main/ArizonaPrefs/Resources/Assets/ArizonaHotIcon.png
Depiction: https://luki120.github.io/depictions/web/?p=me.luki.arizona
SileoDepiction: https://luki120.github.io/depictions/native/me.luki.arizona/depiction.json
