Package: me.luki.iwanttranslucent
Name: IWantTranslucent
Version: 0.9.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak indeed
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate
Icon: https://raw.githubusercontent.com/Luki120/luki120.github.io/master/assets/Tweaks/SpringBoard/IWantTranslucent/IWantTranslucent.png
Depiction: https://luki120.github.io/depictions/web/?p=me.luki.iwanttranslucent
SileoDepiction: https://luki120.github.io/depictions/native/me.luki.iwanttranslucent/depiction.json
