Package: me.luki.canna
Name: Canna
Version: 0.9.0
Architecture: iphoneos-arm
Description: Record on the LS without authenticating for ⇝ iOS 14 +
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Depiction: https://luki120.github.io/depictions/web/?p=me.luki.canna
SileoDepiction: https://luki120.github.io/depictions/native/me.luki.canna/depiction.json
