<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcImagePickerCell</string>
			<key>label</key>
			<string>Module Image</string>
			<key>defaults</key>
			<string>me.luki.ziraprefs</string>
			<key>PostNotification</key>
			<string>me.luki.ziraprefs/imageChanged</string>
			<key>key</key>
			<string>ziraImage</string>
			<key>usesPhotos</key>
			<true/>
			<key>usesVideos</key>
			<false />
			<key>videoQuality</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Portrait width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>me.luki.ziraprefs</string>
			<key>default</key>
			<integer>1</integer>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>4</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>3</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>portraitWidth</string>
			<key>PostNotification</key>
			<string>com.opa334.ccsupport/ReloadSizes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Portrait height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>me.luki.ziraprefs</string>
			<key>default</key>
			<integer>1</integer>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>4</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>3</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>portraitHeight</string>
			<key>PostNotification</key>
			<string>com.opa334.ccsupport/ReloadSizes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Landscape width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>me.luki.ziraprefs</string>
			<key>default</key>
			<integer>1</integer>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>4</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>3</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>landscapeWidth</string>
			<key>PostNotification</key>
			<string>com.opa334.ccsupport/ReloadSizes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Landscape height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>me.luki.ziraprefs</string>
			<key>default</key>
			<integer>1</integer>
			<key>min</key>
			<real>1</real>
			<key>max</key>
			<real>4</real>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>3</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>landscapeHeight</string>
			<key>PostNotification</key>
			<string>com.opa334.ccsupport/ReloadSizes</string>
		</dict>
	</array>
	<key>title</key>
	<string>Zira</string>
</dict>
</plist>
