Package: me.luki.stealthcc
Name: StealthCC
Version: 0.9.0
Architecture: iphoneos-arm
Description: Control the intensity of the stock CC blur on the fly
Maintainer: Luki
Author: Luki
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
Depiction: https://luki120.github.io/depictions/web/?p=me.luki.stealthcc
SileoDepiction: https://luki120.github.io/depictions/native/me.luki.stealthcc/depiction.json
